########################################
#### langchain
langchain
langchain-experimental

## model
gpt4all
chromadb
llama-cpp-python

## embeddings
sentence_transformers

## misc
urllib3
PyMuPDF
python-dotenv
unstructured
extract-msg
tabulate
pandoc
pypandoc
tqdm


########################################
#### SQLCoder
accelerate
bitsandbytes
torch
transformers


########################################
#### streamlit
streamlit
streamlit-chat
streamlit-timeline
barfi
st-pages
watchdog